.header {
    margin-top: 30px;
    grid-area: hd;
    background-color: antiquewhite;
    margin-left:40px;
    margin-right:40px
}

@media(max-width:550px) {
    .header {
        margin-top: 30px;
        grid-area: hd;
        background-color: antiquewhite;
        margin-left:10px;
        margin-right:10px
    }
}

